*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.a1{
    background-color: rgb(227, 241, 237);
    border: solid 2px rgb(202, 200, 200);
    width: 68%;
  margin: auto;
  margin-top: 70px;


}

.b1{
    background-color:aquamarine;
    padding: 120px;

}
.head{
    border-bottom: solid 2px rgb(122, 122, 122);
    display:flex;
    justify-content: space-between;
    padding: 10px;
   
}
.content{
    display: flex;
    justify-content: space-evenly;


}
button{
border:2px solid rgb(207, 201, 201);
padding: 10px;
margin: 20px;
justify-content:space-evenly;
}
h1{
    font-size:140;
    padding-top: 20px;
}
.col1{
    padding-right:10px;
    margin-bottom:2px;
    padding-top: 4px;
    border-right:2px solid black;
}
.col2 p{
padding: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col2 h5{
    padding-bottom: 16px;
}